@using SkydivePortal.Models.DropzoneViewModels
@model SkydivePortal.Models.DropzoneViewModels.DzUserPostsViewModel

@{
    ViewData["Title"] = "Dropzone";
}


@if (Model.Dropzone != null)
{
    <div>
        <div class="jumbotron dz-name-container">
            <h1 class="dropzone-name">@Model.Dropzone.Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_DzEvents.cshtml", Model.DzEvents)
        </div>
        <div class="col-md-9">
            <div class="dz-tabs-container">
                <ul class="nav nav-tabs dz-tabs">
                    <li><a asp-action="DzPosts" asp-route-id="@Model.Dropzone.Id">News</a></li>
                    <li class="active"><a href="#">User posts</a></li>
                    <li><a asp-action="DzInfo" asp-route-id="@Model.Dropzone.Id">Info</a></li>
                </ul>
            </div>

            <div class="dz-tab-content-container">
                @if (Model.ApplicationUser != null)
                {
                    <div class="dz-add-post-container">
                        <div class="well dz-add-post">
                            <form asp-action="AddDzUserPost">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <img src="~/images/profile-pic.png" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <input asp-for="NewPost.DropzoneId" hidden />
                                        <textarea asp-for="NewPost.Text" rows="3" class="dz-add-user-post-input" required></textarea>
                                        <button type="submit" class="btn btn-default dz-add-user-post-button">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                }

                <div class="dz-post-container">
                    @foreach (var item in Model.Dropzone_User_Posts)
                    {

                        <div class="well dz-post">
                            <div class="dz-user-post-content">
                                @if (Model.ApplicationUser != null)
                                        {
                                            @if (ViewData["isAllowed"] == "true" || item.ApplicationUserId == Model.ApplicationUser.Id)
                                            {
                                                <a asp-action="RemoveDzUserPost" asp-route-id="@item.Id" class="dz-post-remove-btn"><span class="glyphicon glyphicon-remove"></span></a>
                                            }

                                        }
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <img src="~/images/profile-pic.png" class="media-object" style="width:50px">
                                    </div>
                                    <div class="media-body">
                                        

                                        <h4 class="media-heading">@item.ApplicationUser.UserName</h4>
                                        <p><small>@item.Date.ToString("dd-MM-yyyy HH:mm")</small></p>
                                    </div>
                                </div>
                                <p>@item.Text</p>
                                
                                <div class="comment-toggle"><span class="glyphicon glyphicon-comment"></span><span class="badge comment-badge">@item.Dropzone_User_Post_Comments.Count()</span></div>
                                
                            </div>
                            <div class="dz-user-post-comments-container">
                                <hr class="hr-custom-user-post" />
                                <div class="dz-user-post-comments">
                                    
                                    <div class="dz-user-post-just-comments" data-postid="@item.Id">
                                        
                                        @Html.Partial("_DzPostComments.cshtml", new PostCommentsViewModel() { ApplicationUser = Model.ApplicationUser, Dropzone_User_Post_Comments = item.Dropzone_User_Post_Comments })
                                    </div>
                                    @if (Model.ApplicationUser != null)
                                    {
                                        <form asp-action="AddDzUserPostComment" >
                                            <div class="media">
                                                <div class="media-left media-top">
                                                    <img src="~/images/profile-pic.png" class="media-object" style="width:30px">
                                                </div>
                                                <div class="media-body">
                                                    <input asp-for="@item.Id" name="Dropzone_User_PostId" hidden />
                                                    <textarea asp-for="NewPostComment.Text" name="Text" class="dz-add-user-post-comment-input"></textarea>

                                                    <button type="submit" class="btn btn-default dz-add-user-post-comment-button">Send</button>
                                                    <span class="comment-send-info"><small>Press Shift+Enter</small></span>
                                                </div>
                                            </div>
                                        </form>

                                    }

                                </div>
                            </div>
                        </div>


                    }
                </div>
            </div>

        </div>
    </div>
}

